name: Build a firmware

on:
  workflow_call:
    inputs:
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:
  build:
    name: Build ${{ inputs.keyboard }}:${{ inputs.keymap }}
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Copy keyboard sources
        run: |
          mkdir -p /opt/qmk_firmware/keyboards/keyball
          cp -r keyboards/keyball/* /opt/qmk_firmware/keyboards/keyball/

      - name: Compile firmware
        working-directory: /opt/qmk_firmware
        run: qmk compile -j 4 -kb keyball/${{ inputs.keyboard }} -km ${{ inputs.keymap }}

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.keyboard }}-${{ inputs.keymap }}-firmware
          path: /opt/qmk_firmware/.build/*.hex

